// 顏色
$color-blue100: #4a90e2;
$color-blue200: #00408b;
$color-danger: #d0021b;
$color-yellow100: #fff2dc;
$color-yellow200: #f5a623;
$color-grey100: #f2f2f2;
$color-grey200: #e1e1e1;
$color-grey300: #c8c8c8;
$color-grey400: #757575;
