@use "../utilities/color";

body {
  margin: 0;
  min-width: 375px;
  background-color: color.$color-grey200;
}
* {
  box-sizing: border-box;
}

main {
  max-width: 620px;
  margin: 0 auto;
  padding: 30px 5px;
}

button {
  cursor: pointer;
}
