a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  outline: none;
}

input,
textarea {
  outline: none;
}
